<launch>
  <arg name="model" default="burger" doc="model type [burger, waffle]"/>
  <arg name="x_pos" default="3.15"/>
  <arg name="y_pos" default="1.6"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="gui" default="true"/>
  

<!--  
  <env name="GAZEBO_MODEL_PATH" value="$(find final_project)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find final_project)/media/materials"/>
-->

  <rosparam param="sim">false</rosparam>
  <rosparam param="map">true</rosparam>
  <rosparam param="use_tf">false</rosparam>
  <rosparam param="rviz">true</rosparam>
  

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find final_project)/cfg/gripper_control.yaml" command="load"/>


  <!--node pkg="final_project" type="goal_commander.py" name="goal_commander" /-->
  <node pkg="final_project" type="navigator.py" name="navigator" />
  <node pkg="final_project" type="supervisor.py" name="supervisor" />
</launch>
